*
{
    font-family: Helvetica, Arial, sans-serif;
    color: #1c1e21;
    line-height: 1.34;
    color: #595959;
}
.dont-pad-me {
    padding-right: 0;
    padding-left: 0;
    top: 0;
}
main
{
    margin-top: 100px;
}

 .text h1
 {
    color: transparent;
    -webkit-background-clip: text;
    background-image:linear-gradient(82.32deg, #0099FF -9.17%, #A033FF 47.19%, #FF5280 77.23%, #FF7061 83.26%);
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
 }
 
 .form-control{
    width: 60%;
    background: rgba(0, 0, 0, .04);
	border: none;
	border-radius: 10px;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 1);
	display: block;
	font-family: Calibre, Helvetica;
	font-size: 16px;
	height: 36px;
	margin-bottom: 12px;
	padding: 8px 16px;
}
.btn-primary{
    color: #fff;
	background-color: #007bff;
	border-color: #007bff;
	font-weight: 400;
	line-height: 17px;
	border-radius: 24px;
	display: inline-block;
	font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
	font-size: 19px;
	height: 2.8rem;
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 0px 20px 0;

}
.nav-link:hover
{
    text-decoration: 3px underline #4976d1;
}
.btn:hover
{
    border-bottom: 3px solid #3c8ac9;
}
.check-box
{
    
	width: 16px;
	height: 16px;
	margin-top: 12px;
    font-size: .89rem;
   
}
.bottom
{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #1c1e21;
}
.fotright button
{
   font-size: smaller;
}
@media screen and (max-width: 990px){

    .text h1{
        text-align: center;
         font-size: 50px;
    }
    .br2
    {
        display: none;
    }
    .heading
    { 
        padding-left: 20%;
        height: 550px;
    }
    .form-control
    {
        width: 70%;
    }
    .image1
    {
        margin-left: 100px;
    }
    .subheading p
    {
    font-size: 19px;
    text-align: center;
    }
    .subheading
    {
    margin-top: 15px;
     width: 80%; 
    }
    .image1
    {
        width: 65%;
    }
    .bottom
    {
    font-size: 13px;
    text-align: center;
    }
    .fotright
    {
        font-size: 13px;
        width: 70%;
        height: 30px;
        margin-left: 10rem;
    }
    .btn{
        font-size:small;
    }
  }
  @media screen and (max-width: 800px)
  {

    .text h1{
        text-align:left;
         font-size: 40px;
    }
    .subheading p
    {
    font-size: 15px;
    text-align:left ;
    }
  }

 




